<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>Extension Updates</key>
   <array>
     <dict>
       <key>CFBundleIdentifier</key>
       <string>com.kablock.osx</string>
       <key>Developer Identifier</key>
       <string>UYW4V22L7E</string>
       <key>CFBundleVersion</key>
       <string>29</string>
       <key>CFBundleShortVersionString</key>
       <string>2.9</string>
       <key>Update From Gallery</key>
       <true/>
       <key>URL</key>
       <string>https://raw.githubusercontent.com/dgraham/Ka-Block/master/Ka-Block.safariextz</string>
     </dict>
   </array>
</dict>
</plist>
