<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>David Graham &amp; Josh Peek</string>
	<key>Builder Version</key>
	<string>11601.2.7.2</string>
	<key>CFBundleDisplayName</key>
	<string>Ka-Block!</string>
	<key>CFBundleIdentifier</key>
	<string>com.kablock.osx</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>2.4</string>
	<key>CFBundleVersion</key>
	<string>24</string>
	<key>Content</key>
	<dict>
		<key>Content Blocker</key>
		<string>filters.json</string>
	</dict>
	<key>Description</key>
	<string>Block advertisements and trackers to enjoy a faster web.</string>
	<key>DeveloperIdentifier</key>
	<string>UYW4V22L7E</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Update Manifest URL</key>
	<string>https://raw.githubusercontent.com/dgraham/Ka-Block/master/Ka-Block.plist</string>
	<key>Website</key>
	<string>http://kablock.com</string>
</dict>
</plist>
