<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>David Graham</string>
	<key>Builder Version</key>
	<string>10600.6.3</string>
	<key>CFBundleDisplayName</key>
	<string>Ka-Block!</string>
	<key>CFBundleIdentifier</key>
	<string>com.negativecode.safari.ka-block</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.5</string>
	<key>CFBundleVersion</key>
	<string>15</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>index.html</string>
	</dict>
	<key>Content</key>
	<dict>
		<key>Content Blocker</key>
		<string>blockerList.json</string>
		<key>Scripts</key>
		<dict>
			<key>Start</key>
			<array>
				<string>start.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>Block advertisements.</string>
	<key>DeveloperIdentifier</key>
	<string>UYW4V22L7E</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>https://raw.githubusercontent.com/dgraham/Ka-Block/master/Ka-Block.plist</string>
	<key>Website</key>
	<string>http://www.negativecode.com</string>
</dict>
</plist>
